.section {
  height: 100vh;
  padding: 2.1429rem 6.8571rem;
  box-sizing: border-box;
  min-height: 600px;
}
.sectionMain {
  background: url("/bg/screen_1_bg.jpg") center no-repeat no-repeat;
}
.sectionEarth {
  background: url("/bg/earth_2_bg.jpg") center no-repeat no-repeat;
  justify-content: space-between;
}
.sectionMain, .sectionEarth, .sectionRoadMap {
  background-size: cover;
  display: flex;
  align-items: center;
  padding-top: 7.1429rem;
  padding-bottom: 7.1429rem;
}
.sectionRoadMap {
  padding-bottom: 260px;
  height: 100%;
  position: relative;
  background: linear-gradient(to bottom, #1e202c 0%, #13151b 100%);
  align-items: start;
  flex-direction: column;
}
.sectionRoadMap::before {
  content: "";
  height: 170px;
  width: 100%;
  display: block;
  position: absolute;
  top: -170px;
  left: 0;
  z-index: 0;
  background: linear-gradient(to bottom, rgba(30, 32, 44, 0) 0%, rgb(30, 32, 44) 100%);
}
.sectionRoadMap .subTitle {
  position: relative;
  display: inline;
}
.sectionRoadMap .subTitleText {
  position: absolute;
  right: 10px;
  top: -14px;
  color: #ffb800;
  font-size: 15px;
  font-family: Mazzar;
  font-weight: 700;
  word-wrap: break-word;
}

.header {
  display: grid;
  grid-template-columns: 1fr auto auto;
  align-items: center;
  gap: 2.2857rem;
  position: absolute;
  top: 2.2rem;
  left: 2.8571rem;
  right: 2.8571rem;
  z-index: 9;
}

.buttonList {
  display: flex;
  justify-content: center;
  gap: 1.4286rem;
}