.artButton {
  border: none;
  box-shadow: none;
  font: 1.1429rem/1rem "NeueMachina", sans-serif;
  background: none;
  color: var(--light);
  padding: 1.4286rem 1.7857rem 1.1429rem;
  transition: all 0.3s;
  cursor: pointer;
  position: relative;
  height: 4rem;
}
.artButtonText {
  position: relative;
  z-index: 2;
}
.artButton:hover::after {
  background: var(--light);
}
.artButton:hover .artButtonText {
  color: var(--dark);
}
.artButton:hover .artButtonAngleLeft {
  border-top-color: var(--dark);
}
.artButton:hover .artButtonAngleRight {
  border-bottom-color: var(--dark);
}
.artButton::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: all 0.3s;
  -webkit-clip-path: polygon(0 0.3571rem, calc(100% - 2.4286rem) 0.3571rem, calc(100% - 1.8571rem) 0, 100% 0, 100% 100%, 2.4286rem 100%, 1.8571rem calc(100% - 0.3571rem), 0 calc(100% - 0.3571rem), 0 calc(100% - 2px - 0.3571rem), calc(1.8571rem + 1px) calc(100% - 2px - 0.3571rem), calc(2.4286rem + 1px) calc(100% - 2px), calc(100% - 2px) calc(100% - 2px), calc(100% - 2px) 2px, calc(100% - 1.8571rem + 2px - 1px) 2px, calc(100% - 2.4286rem + 2px - 1px) calc(0.3571rem + 2px), 2px calc(0.3571rem + 2px), 2px calc(100% - 2px - 0.3571rem), 0 calc(100% - 2px - 0.3571rem));
          clip-path: polygon(0 0.3571rem, calc(100% - 2.4286rem) 0.3571rem, calc(100% - 1.8571rem) 0, 100% 0, 100% 100%, 2.4286rem 100%, 1.8571rem calc(100% - 0.3571rem), 0 calc(100% - 0.3571rem), 0 calc(100% - 2px - 0.3571rem), calc(1.8571rem + 1px) calc(100% - 2px - 0.3571rem), calc(2.4286rem + 1px) calc(100% - 2px), calc(100% - 2px) calc(100% - 2px), calc(100% - 2px) 2px, calc(100% - 1.8571rem + 2px - 1px) 2px, calc(100% - 2.4286rem + 2px - 1px) calc(0.3571rem + 2px), 2px calc(0.3571rem + 2px), 2px calc(100% - 2px - 0.3571rem), 0 calc(100% - 2px - 0.3571rem));
  background: var(--light);
}
.artButton::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  z-index: 0;
  transition: all 0.3s;
  -webkit-clip-path: polygon(0 0.3571rem, calc(100% - 2.4286rem) 0.3571rem, calc(100% - 1.8571rem) 0, 100% 0, 100% 100%, 2.4286rem 100%, 1.8571rem calc(100% - 0.3571rem), 0 calc(100% - 0.3571rem));
          clip-path: polygon(0 0.3571rem, calc(100% - 2.4286rem) 0.3571rem, calc(100% - 1.8571rem) 0, 100% 0, 100% 100%, 2.4286rem 100%, 1.8571rem calc(100% - 0.3571rem), 0 calc(100% - 0.3571rem));
}
.artButtonAngleLeft {
  position: absolute;
  top: 10px;
  left: 4.5px;
  width: 0;
  height: 0;
  z-index: 1;
  border-top: 10px solid var(--light);
  border-right: 10px solid transparent;
  transition: all 0.3s;
}
.artButtonAngleRight {
  position: absolute;
  bottom: 10px;
  right: 4.5px;
  width: 0;
  height: 0;
  z-index: 1;
  border-bottom: 10px solid var(--light);
  border-left: 10px solid transparent;
  transition: all 0.3s;
}
.artButtonType {
  font-weight: bold;
  color: var(--dark);
}
.artButtonType .artButtonAngleLeft,
.artButtonType .artButtonAngleRight {
  display: none;
}
.artButtonBluePurple {
  transition: all 0.3s;
}
.artButtonBluePurple::after {
  background: linear-gradient(to right, #89dcd5 0%, #9d65bf 100%) !important;
}
.artButtonBluePurple::before {
  background: linear-gradient(135deg, #e4f8f7 0%, #beebe8 19%, #a66bc3 79%, #caaddd 100%) !important;
}
.artButtonBluePurple:hover {
  opacity: 0.8;
}
.artButtonBlue {
  transition: all 0.3s;
}
.artButtonBlue::after {
  background: linear-gradient(to right, #89dcd5 0%, #7cb1bb 100%) !important;
}
.artButtonBlue::before {
  background: linear-gradient(135deg, #e1effe 0%, #b5d6f9 21%, #85b8c0 79%, #b9d6db 100%) !important;
}
.artButtonBlue:hover {
  opacity: 0.8;
}
.artButtonGreenYellow {
  transition: all 0.3s;
}
.artButtonGreenYellow::after {
  background: linear-gradient(to right, #a9f0f4 0%, #eedd75 100%) !important;
}
.artButtonGreenYellow::before {
  background: linear-gradient(135deg, #ecfbfe 0%, #d0f7f8 20%, #f2de7b 79%, #f5ecb3 100%) !important;
}
.artButtonGreenYellow:hover {
  opacity: 0.8;
}
.artButtonYellowPink {
  transition: all 0.3s;
}
.artButtonYellowPink::after {
  background: linear-gradient(to right, #f4bb42 0%, #f5bdc4 100%) !important;
}
.artButtonYellowPink::before {
  background: linear-gradient(135deg, #f9db88 0%, #fdf2d1 22%, #fdf2d1 22%, #f5c2c8 79%, #f8dbde 100%) !important;
}
.artButtonYellowPink:hover {
  opacity: 0.8;
}

.cardMore {
  position: absolute;
  top: -85px;
}
.cardMoreButton {
  cursor: pointer;
  width: 28.75rem;
  height: 10.9375rem;
  -webkit-clip-path: polygon(22% 0, 29% 7%, 100% 7%, 100% 89%, 73% 89%, 65% 100%, 0 100%, 0 0);
          clip-path: polygon(22% 0, 29% 7%, 100% 7%, 100% 89%, 73% 89%, 65% 100%, 0 100%, 0 0);
  background: linear-gradient(250deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.15) 100%);
  -webkit-backdrop-filter: blur(6px);
          backdrop-filter: blur(6px);
  border-color: unset;
  border: unset;
  padding: 0;
}
.cardMoreButtonActive {
  background-color: #fff;
  width: 31.25rem;
  height: 11.875rem;
}
.cardMoreImage {
  display: block;
}