.section {
	&Collaborations {
		background-size: cover;
		display: flex;
		align-items: center;
		padding-top: 7.1429rem;
		padding-bottom: 7.1429rem;
	}
	&Collaborations {
		height: 100%;
		position: relative;
		background: linear-gradient(to bottom, #1e202c 0%, #13151b 100%);
		align-items: start;
		flex-direction: column;
	
	}
}
