.cardMoreButton {
	width: 15rem !important;
	max-width: 100% !important;
	height: 7.0625rem !important;
	background: linear-gradient(250deg, rgba(255, 255, 255, 0.04) -24.77%, rgba(255, 255, 255, 0.3) 105.99%) !important;
	transition: all 0.3s !important;
	&:hover {
		background: linear-gradient(
			250deg,
			rgba(255, 255, 255, 0.04) -54.77%,
			rgba(255, 255, 255, 0.3) 15.99%
		) !important;
	}
}
