.artMenu {
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 200px;
	gap: 226px;
	position: relative;
	top: 11.125rem;

	&::after {
		content: "";
		position: absolute;
		left: 19px;
		top: 2px;
		width: 4px;
		bottom: 2px;
		background: var(--light);
		z-index: 0;
	}

	&Card {
		// margin-top: 0;
		// height: 0;
		// overflow: hidden;
		// opacity: 0;
		// transition: all 0.3s;
	}

	&Item {
		color: var(--light);
		text-decoration: none;
		display: block;
		text-align: right;
		font-size: 1.5714rem;
		font-family: "TTOctosquares", sans-serif;
		padding-left: 3.8rem;
		position: relative;
		z-index: 1;

		&Title {
			color: var(--light);
			text-transform: uppercase;
			transition: opacity 0.3s;
			&:hover {
				opacity: 0.8;
			}
		}

		&:visited,
		&:hover {
			color: var(--light);
		}

		.artMenuDecorator {
			background-image: url("./images/white_left_border.png");
		}

		&:hover {
			.artMenuDecorator {
				background-image: url("./images/color_left_border.png");
			}
		}

		&:nth-child(odd) {
			.artMenuDecorator {
				background-image: url("./images/white_right_border.png");
			}

			&:hover {
				.artMenuDecorator {
					background-image: url("./images/color_right_border.png");
				}
			}
		}

		&:last-child {
			.artMenuDecorator {
				top: auto;
				bottom: -4px;
			}
		}
	}

	&Decorator {
		position: absolute;
		top: 0;
		left: 0;
		display: block;
		width: 3rem;
		height: 3.5rem;
		background-repeat: no-repeat;
		background-position: center center;
		background-size: contain;
	}

	&ItemActive {
		.artMenuItemTitle {
			color: var(--primary);
		}
		.artMenuDecorator {
			background-image: url("./images/color_left_border.png");

			&:nth-child(odd) {
				background-image: url("./images/color_right_border.png");
			}
		}

		.artMenuCard {
			opacity: 1;
			height: 13.3571rem;
		}
	}
}

.cardMore {
	position: absolute;
	top: -85px;

	&Button {
		cursor: pointer;
		width: 31.25rem;
		height: 11.875rem;
		clip-path: polygon(22% 0, 29% 7%, 100% 7%, 100% 89%, 73% 89%, 65% 100%, 0 100%, 0 0);
		// background-color: rgba(196, 196, 196, 1);
		background: linear-gradient(250deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.15) 100%);
		// border: 2.12px white solid;
		// backdrop-filter: blur(33.85px);
		border-color: unset;
		border: unset;
		padding: 0;
		&Active {
			background-color: #fff;
		}
	}

	&Image {
		display: block;
	}
}
.button {
	position: absolute;
	top: 50px;
	left: 50px;
	display: flex;
	flex-direction: column;
	gap: 26px;
}
.ellipsesIcon {
	position: absolute;
	top: 0;
}
.ellipsesIcon2 {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
