.subTitle {
	position: relative;
	display: flex;
	justify-content: center;
	margin-bottom: 2.125rem;
	&Text {
		position: absolute;
		right: 20px;
		top: -20px;
		color: #ffb800;
		font-size: 15px;
		font-family: Mazzar;
		font-weight: 700;
		word-wrap: break-word;
	}
}
