.navigation {
	font:
		bold 1.1429rem/1 "NeueMachina",
		sans-serif;
	display: flex;
	align-items: center;
	position: fixed;
	left: 2.8571rem;
	gap: 3vh;
	writing-mode: vertical-rl;
	z-index: 9;
}
@media screen and (max-width: 768px) {
	.navigation {
		display: none;
	}
}
