.subTitle {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 2.125rem;
	z-index: 3;
	&Text {
		color: #ffb800;
		font-size: 15px;
		font-family: Mazzar;
		font-weight: 700;
		word-wrap: break-word;
	}
}
.BlockSvg {
	display: flex;
	justify-content: center;
	align-items: center;

	:last-child {
		margin-left: 20px;
	}

}
